<section class = "container">
    <!--Back to enter log-->
    <a class = "" href = "{{page}}">
        <img 
        src = "/images/left-arrow.svg"
        alt = "left arrow"
        height = "40px"
        width = "40px">
    </a>
</section>