<section class = "container">
    <!--Back to enter log-->
    <a href = "#" onclick="goBack()">
        <img 
        src = "/images/left.svg"
        alt = "left arrow"
        height = "40px"
        width = "40px"
        style = "margin-top:10px;">
    </a>
</section>