<!DOCTYPE html>
<html>
<head>
	<title>Breathe</title>
	<script src="js/main.js"></script>
	<script src="js/volume-meter.js"></script>
</head>
<body>

<p id="demo"></p>
<canvas id="meter" width="500" height="50"></canvas>

</p>

</body>
</html>