<!DOCTYPE html>
<html>
<head>
	<title>Breathe</title>
	<script src="js/main.js"></script>
	<script src="js/volume-meter.js"></script>
</head>
<body>

<p id="demo"></p>
<canvas id="meter" width="500" height="50"></canvas>

</p>
	<!--Title-->
	<title></title>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--BootStrap-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src= "js/main.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

	<!--Empty Section-->
      <section class = "jumbotron">
      </section>

	<!--Breathe In/Breathe Out-->
	<section class = "jumbotron">
		<div class = "text-center">
			<h1></h1>
		</div>
	</section>

	<!--Navigation Buttons-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Back to magnifying glass page-->
                <a href = "/magnifyingglass">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
                <!--Go to page to turn phone down-->
                <a href = "/final">
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <progress value="4" max="5"></progress>
        </div>
    </nav>
</body>
</html>
