<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Enter Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/setVariables.js"></script>
</head>
<body>
  <!--User Input-->
  <section class = "pt-3">

    <!--Back to index-->
    <a class = "container" href = "/">
        <img 
        src = "/images/left-arrow.svg"
        alt = "left arrow"
        height = "40px"
        width = "40px">
    </a>

    <div class = "contentbox">
        <form  role="form" method="get" action="/addLog">
            <h2>What do you need to get done today?</h2>
            <div class="form-group">

              <input type="text" class="form-control" id="inputLog" placeholder="I need to..." name="inputLog">
          </div>
          
        <input onclick="document.getElementById('id01').style.display='block'" type="submit" id="submitBtn" class="btn btn-outline-dark" value="Submit"></input>
    </form>
    
</div>


</section>
<br>


<!--Timer Selector-->
<div id="id01" class="modal">
    <form class="modal-content animate">
        <div>
            <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
        </div>
        <div class="container">
            <form role="form" method="get" action="/addTime">
                <label class = "label" for="uname">
                    <p>How many minutes do you want to spend on this task?</p>
                </label>
                <div class="container" style="margin-bottom: 2rem">
                <select name="inputTime" id="inputTime" style="bottom: auto;padding: 10px;background: whitesmoke;margin: 10px 20px;border-radius: .25rem;">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                    <option value="60">60</option>
                </select>
                <span style = "font-size: 15px;" onclick="setTime()" class = "btn btn-outline-dark" href = "#">Submit</span>
            </div>

        </form>
    </div>




    <!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <p><b>1/5</b></p>
        </div>
    </nav>
</body>
</html>
