<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Enter Log</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">

</head>
<body>

    <!--Empty Section-->
      <section class = "jumbotron">
      </section>

      <!--User Input-->
      <section>
            <div class = "text-center">
                    <h2>What do you need to get done today?</h2>
                    <input type = "text">
            </div>
        </section>

        <br>

     <!--Log In Button-->
    <section class = "login container">
        <div class = "text-center">
            <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Sumbit</a>
        </div>
        <div id="id01" class="modal">
            <form class="modal-content animate">
                <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
                </div>

                <div class="login container">
                <label for="uname"><b>How long do you want to spend on this task?</b></label>

                <script>
                $(function() {
                    $('#timeformatExample1').timepicker({ 'timeFormat': 'H:i:s' });
                    $('#timeformatExample2').timepicker({ 'timeFormat': 'h:i A' });
                });
                </script>

                <a style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Submit</a>
                </div>
            </form>
        </div>
    </section>
    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!-- Back to home page -->
                <a href = "./">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>

                <!--Go to timer page-->
                <a href = "/timer" >
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "fixed-bottom">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </nav>
</body>
</html>
