<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Enter Log</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>

  <!--User Input-->
  <section>
    <a class="text-left" href = "./">
        <img 
        src = "/images/left-arrow.svg"
        alt = "left arrow"
        height = "20px"
        width = "20px"
        style = "margin: 10px;">
    </a>
    <div class = "contentbox">
        <h2>What do you need to get done today?</h2>
        <input type = "text">
    </div>
</section>
<br>

<!--Log In Button-->
<section class = "login container">
    <div class = "text-center">
        <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Submit</a>
    </div>
    <div id="id01" class="modal">
        <form class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
            </div>
            <div class="login container">
                <label for="uname">
                    <p>How many minutes would you like to spend on this task?</p>
                </label>
                <select style="bottom: auto;padding: 10px;background: whitesmoke;margin: 10px 20px;border-radius: .25rem;">
                    <option value="30">30</option>
                    <option value="35">35</option>
                    <option value="40">40</option>
                    <option value="45">45</option>
                    <option value="50">50</option>
                    <option value="55">55</option>
                    <option value="60">60</option>
                </select>
                <span onclick="window.location.href='/magnifyingglass'" style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Go</span>
            </div>
        </form>
    </div>
</section>


<!--Footer-->
<nav class = "navbar fixed-bottom">
    <div>
        <progress value="1" max="4"></progress>
    </div>
</nav>
</body>
</html>
