<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Enter Log</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">  
</head>
<body>

      <!--User Input-->
      <section>
            <div class = "contentbox">
                    <h2>What do you need to get done today?</h2>
                    <input type = "text">
            </div>
        </section>

    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "fixed-nav-bottom">
            <p class = "col-xs-12">
                <!-- Back to home page -->
                <a href = "./">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>

                <!--Go to timer page-->
                <a href = "/timer" >
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "fixed-bottom">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </nav>
</body>
</html>
