<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Final</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <link rel = "stylesheet" href = "/css/fire.css">
    
</head>
<body>

    <!--Empty Section-->
    <section class = "jumbotron">
    </section>

    <!--Title-->
    <section>
        <div class = "text-center">
            <h2>It's Lit!</h2>
            <section class = "jumbotron">
                <h6>Flip your phone over</h6>
                <h6>to protect the flame!</h6>
            </section>
            <!--Fire-->
        <section style="background-color:white" class = "jumbotron">
            <div class = "container">
                <div class = "text-center">
                    <p>
                        <div class="fire">
                           <div class="flames">
                              <div class="flame"></div>
                              <div class="flame"></div>
                              <div class="flame"></div>
                              <div class="flame"></div>
                           </div>
                           <div class="logs"></div>
                        </div> 
                    </p>
                </div>
            </div>
        </section>
            <section class = "jumbotron">
                <h6>Keep the fire going by </h6>
                <h6>keeping your phone faced down</h6>
                <h6>until the fire burns out</h6>
            </section>
            <div id="countdown"></div>
        </div>
    </section>



    <script>
//Using setTimeout to execute a function after 5 seconds.
//setTimeout(function () {
   //Redirect with JavaScript
  // window.location.href= '/timer';
//}, 5000);

if (window.DeviceOrientationEvent) {

    window.addEventListener("deviceorientation", function(event)
    {
        if(event.beta < - 170 || event.beta > 170 ) {
            window.location.href= '/timer';
        }
    })
}
else {
    alert("Your device does not support orientation stuff");
};

</script>

<br>

<!--Navigation Buttons-->
<section class = "container">
    <div class = "fixed-nav-bottom">
        <p class = "col-xs-12">
            <!--Back to breathingr-->
            <a href = "/breath">
                <img 
                src = "/images/left-arrow.svg"
                alt = "left arrow"
                height = "40px"
                width = "40px">
            </a>
        </p>
    </div>
</section>

<!--Footer-->
<nav class = "navbar fixed-bottom">
    <div>
        <p><b>4/5</b></p>
    </div>
</nav>
</body>
</html>
