<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Final</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
    <section class = "jumbotron">
    </section>

    <!--Title-->
    <section>
        <div class = "text-center">
            <h2>Nice!</h2>
            <h6>When ready, place your phone</h6>
            <h6>face down away from you</h6>
            <h6>The timer will begin shortly</h6>
            <div id="countdown"></div>
        </div>
    </section>



    <script>
//Using setTimeout to execute a function after 5 seconds.
//setTimeout(function () {
   //Redirect with JavaScript
  // window.location.href= '/timer';
//}, 5000);

if (window.DeviceOrientationEvent) {

    window.addEventListener("deviceorientation", function(event)
    {
        if(event.beta < - 170) {
            window.location.href= '/timer';
        }
    })
}
else {
    alert("Your device does not support orientation stuff");
};

</script>

<br>

<!--Navigation Buttons-->
<section class = "container">
    <div class = "fixed-nav-bottom">
        <p class = "col-xs-12">
            <!--Back to breathingr-->
            <a href = "/breath">
                <img 
                src = "/images/left-arrow.svg"
                alt = "left arrow"
                height = "40px"
                width = "40px">
            </a>
        </p>
    </div>
</section>

<!--Footer-->
<nav class = "navbar fixed-bottom">
    <div>
        <p><b>4/5</b></p>
    </div>
</nav>
</body>
</html>
