<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Turn Phone</title>
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/css/style.css">
</head>
<body>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

     <!--Header-->
     <header class = "container">
        <div class = "row">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" href = "magnifyingglass.handlebars">&lt;</a>
            </p>
        </div>
    </header>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

      <!--User Input-->
      <section class = "jumbotron">
            <div class = "text-center">
                <h1>Turn Phone Down</h1>
            </div>
        </section>
</body>
</html>
