<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Final</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
      <section class = "jumbotron">
      </section>

      <!--Title-->
      <section>
            <div class = "text-center">
                <h2>Turn Phone Down</h2>
            </div>
        </section>

        <br>

    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Back to breathingr-->
                <a href = "/breath">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <progress value="5" max="5"></progress>
        </div>
</body>
</html>
