<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Help</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body class = "page">

    <!-- Heading + Back Button -->
      <section>
            <div class = "container pt-3">
                <a class="text-left" href = "./">
                    <img 
                    src = "/images/left.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
                <h3 class = "title text-center"> About Burnout </h3>
                <hr>
            </div>
        </section>
        
        <section>
            <div class = "container">
                <div>
                    <div style="text-align: center;margin:10px;color: rgb(243, 97, 97)">
                    <h7><i>Compatible only with handheld devices!</i></h7></div>
                    <h5> Our Goal</h5>
                    <p>Burnout's goal is to get you off of your phone and fully immersed in the task you need to accomplish. </p>
                     <h5> Overview</h5>
                     <p>
                         Burnout consists of 4 easy steps:
                         <ol>
                             <li>Enter the task you need to accomplish</li>
                             <li>Choose how many minutes you want to spend on the task</li>
                             <li>Take two deeps breaths to prepare you to focus</li>
                             <li>Flip your phone down and get to work!</li>
                         </ol>
                    </p>
                    <h5>Staying Off Your Phone</h5>
                    <p>Burnout encourages you to stay off your phone by detecting that your phone is faced down in order to start the timer. If the phone is flipped too early, your fire will go out, but you will have the option to try again.</p>
                </div>
            </div>
        </section>

    <script src = "/js/back.js"></script>
</body>
</html>