<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type = "text/javascript">
        $(document).ready(function() {
            if(sessionStorage.getItem('modState') !== 'shown') {
                $('#myModal').modal('show');
                sessionStorage.setItem('modState','shown');
                console.log('show');
            }
            $('.closed').click(function(e) {
                $('#myModal').modal('hide');
                console.log('hidden');
            })
        });
    </script>
     {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body>
    <!--FB-->
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=266615060918340&autoLogAppEvents=1">
    </script>

    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class = "modal-header">
                    <h4>Burnout</h4>
            </div>
            <div class="modal-body">
                    <b><p>Stay mindful of every task you need to accomplish:</p></b>
                    <p>
                        <!--Login with your Facebook:-->
                        <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                    </p>
                    <a href = "#" style="color:gray" class="closed">Later</a>
            </div>
        </div>
    </div>
</div>

    <!--Empty Section-->
      <section style="background-color:white" class = "jumbotron">
      </section>

      <!--Burnout Logo-->
      <section style="background-color:white" class = "jumbotron">
            <div class = "container">
                <div class = "text-center">
                    <p>
                        <h1 id = "name">Burnout</h1>
                    </p>
                </div>
            </div>
        </section>

    <!--Go Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Go to enter logs page -->
                <a class = "btn btn-outline-dark" href = "/enterlog">Go</a>
            </p>
        </div>
    </section>

    <!--Past Logs Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Go to enter logs page -->
                <a class = "btn btn-outline-dark" href = "/pastlogs">History</a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <!--Help Page -->
            <a href = "/help">
                <img 
                src = "/images/information.svg"
                alt = "help"
                height = "25px"
                width = "25px">
                &nbsp;
                <a data-toggle="modal" href = "#myModal">
                <img 
                src = "/images/user.svg"
                alt = "help"
                height = "25px"
                width = "25px">
            </a>
        </div>
    </nav>
</body>
</html>