<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/css/style.css">
    <link rel = "stylesheet" href = "/css/Fire.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    
</head>

<body class = "page">
    
    <!--FB-->
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=266615060918340&autoLogAppEvents=1">
    </script>

    <!-- Modal -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class = "modal-header" style="margin: auto;">
                    <h4 id = "name">Log In</h4>
                </div>
                <div class="modal-body" style="text-align: center;">
                 <p>Stay mindful of every task you need to accomplish:</p>
                 <p>
                    <!--Login with your Facebook:-->
                    <div class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
                </p>
                <a href = "#" style="color:gray" class="closed">Later</a>
            </div>
        </div>
    </div>
</div>

<br>
<!--Burnout Logo-->
<section style="padding: 1rem" >
    <div class = "container">
        <div class = "text-center">
            <b><h1 class = "title" style = "font-size: 50px;">Burnout</h1></b>
        </div>
    </div>
</section>
<br>
<br>
<br>

<!--Fire-->
<section>
    <div class = "container">
        <div class = "text-center">
            <p>
                <div class="fire">
                 <div class="flames">
                  <div class="flame"></div>
                  <div class="flame"></div>
                  <div class="flame"></div>
                  <div class="flame"></div>
              </div>
              <div class="logs"></div>
          </div> 
      </p>
  </div>
</div>
</section>

<br>

<!--Go Button-->
<section class = "container" style="margin-bottom: 2rem">
    <div class = "text-center">
        <p class = "col-xs-12">
            <!--Go to enter logs page -->
            <a class = "btn btn-outline" href = "/enterlog">Go</a>
        </p>
    </div>
</section>

<section>
    <!--Past Logs Button-->
    <div class = "text-center">
        <p class = "col-xs-12">
            <!--Go to enter logs page -->
            <a class = "btn btn-outline" href = "/pastlogs">History</a>
        </p>
    </div>
</section>

<!-- Footer -->
<nav class = "navbar fixed-bottom">
    <div>
        <a href = "/help">
            <img 
            src = "/images/question.svg"
            alt = "help"
            height = "35px"
            width = "35px">
            &nbsp;
            <a data-toggle="modal" href = "#myModal">
                <img 
                src = "/images/download.svg"
                alt = "help"
                height = "31px"
                width = "31px">
            </a>
        </div>
    </nav>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type = "text/javascript">
        $(document).ready(function() {
            if(sessionStorage.getItem('modState') !== 'shown') {
                $('#myModal').modal('show');
                sessionStorage.setItem('modState','shown');
            }
            $('.closed').click(function(e) {
                $('#myModal').modal('hide');
            })
        });
    </script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</body>
</html>