<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Home Page</title>
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

      <!--Burnout Logo-->
      <section class = "container">
            <div class = "text-center">
                <p>
                    <h1>Burnout</h1>
                </p>
            </div>
        </section>

        <!--Empty Section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

        <!--Empty section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

    <!--Go Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" href = "/enterlog">Go</a>
            </p>
        </div>
    </section>

    <!--Empty section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

    <!--Logs Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" href = "/pastlogs">Logs</a>
            </p>
        </div>
    </section>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
        </section>

        <!--Empty Section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

    <!--Footer-->
    <footer class = "container">
        <div class = "text-right">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" id = "question" href = "/help">?</a>
            </p>
        </div>
    </footer>
</body>
</html>