<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Home Page</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
      <section class = "jumbotron">
      </section>

      <!--Burnout Logo-->
      <section class = "jumbotron">
            <div class = "container">
                <div class = "text-center">
                    <p>
                        <h1>Burnout</h1>
                    </p>
                </div>
            </div>
        </section>

    <!--Go Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Go to enter logs page -->
                <a class = "btn btn-outline-dark" href = "/enterlog">Go</a>
            </p>
        </div>
    </section>

    <!--Past Logs Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
                <!--Go to enter logs page -->
                <a class = "btn btn-outline-dark" href = "/pastlogs">History</a>
            </p>
        </div>
    </section>

     <!--Log In Button
    <section class = "login container">
        <div class = "text-center">
            <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Log In</a>
        </div>
        <div id="id01" class="modal">
            <form class="modal-content animate">
                <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close">&times;</span>
                </div>

                <div class="login container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname">

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw">

                <span onclick="document.getElementById('id01').style.display='none'" style="width:auto;" id = "login" class = "btn btn-outline-dark" href = "#">Submit</span>   
                </div>
            </form>
        </div>
    </section>-->

    <!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <!--Help Page -->
            <a href = "/help">
                <img 
                src = "/images/information.svg"
                alt = "help"
                height = "25px"
                width = "25px">
            </a>
        </div>
    </nav>

    <!-- JavaScript Function 
    <script>
    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    </script>-->
</body>
</html>