<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Magnifying Glass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="js/main.js"></script>
</head>

<body onload="init()">
    <div id ="magInstruct"></div>
    <div id="ball"></div>
    <div class="container" 
    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "fixed-nav-bottom">
            <p class = "col-xs-12">
                <!--Back to enter log-->
                <a href = "/enterlog">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
                <!--Go to breathing-->
                <a href = "/breath">
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>
</div>

<!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <progress value="2" max="4"></progress>
        </div>
    </nav>
</body>
</html>


