<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Magnifying Glass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body onload="init()">
    <script>
        $(document).ready(function() {
    // document is loaded and DOM is ready
    alert("Focus on keeping the circle in the middle of the screen. Advance when you feel ready.");
});
    </script>

    <!--magnifying glass image-->
    <img src="/images/magnifying-glass.png">

    <section class = "container pt-3">
                <!--Back to enter log-->
                <a class = "" href = "/enterlog">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
    </section>
    <div class="magPage"></div>
    <div id="ball"></div>
    <div class="container" 
    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "fixed-nav-bottom">
            <p class = "col-xs-12">

                <!--Go to breathing-->
                <a href = "/breath">
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>
</div>

<!--Footer-->
    <nav class = "navbar fixed-bottom">
        <div>
            <p><b>2/5</b></p>
        </div>
    </nav>
</body>
</html>


