<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Magnifying Glass</title>
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

     <!--Back Button-->
     <header class = "container">
        <div class = "row">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" href = "/timer">&lt;</a>
            </p>
        </div>
    </header>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

      <!--User Input-->
      <section class = "jumbotron">
            <div class = "text-center">
                <h1>Magnifying Glass</h1>
            </div>
        </section>

        <!--Empty Section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

        <!--Empty section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

    <!--Go Button-->
    <section class = "container">
        <div class = "text-right">
            <p class = "col-xs-12">
                <a class = "btn btn-outline-dark" href = "/final">Next</a>
            </p>
        </div>
    </section>

    <!--Empty section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
    </section>

    <!--Logs Button-->
    <section class = "container">
        <div class = "text-center">
            <p class = "col-xs-12">
            </p>
        </div>
    </section>

    <!--Empty Section-->
    <section class = "jumbotron">
        <div class = "container">
            <div class = "row">
            </div>
        </div>
        </section>

        <!--Empty Section-->
        <section class = "jumbotron">
            <div class = "container">
                <div class = "row">
                </div>
            </div>
        </section>

    <!--Footer-->
    <footer class = "container">
        <div class = "text-right">
            <p class = "col-xs-12">
            </p>
        </div>
    </footer>
</body>
</html>

<!--

<html>
<body>

<p>Click "Try it". Wait 3 seconds. The page will alert "Hello".</p>
<p>Click "Stop" to prevent the first function to execute.</p>
<p>(You must click "Stop" before the 3 seconds are up.)</p>

//sets 3 seconds
<button onclick="myVar = setTimeout(myFunction, 3000)">Try it</button>

//clears before 3 seconds up
<button onclick="clearTimeout(myVar)">Stop it</button>

<script>
function myFunction() {
  alert("Hello");
}
</script>
</body>
</html>


-->
