<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Account</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

      <!--Heading-->
      <section>
            <div class = "container">
                <div class = "text-center">
                    <p>
                        <h3>
                            <a href = "./">
                                <img 
                                src = "/images/left-arrow.svg"
                                alt = "left arrow"
                                height = "30px"
                                width = "30px">
                            </a>
                            Account
                        </h3>
                        <hr>
                    </p>
                </div>
            </div>
        </section>

        <br>

    <!--Log In Button-->
    <section class = "container">
        <div class = "text-center">
            <p>
                <a id = "login" class = "btn btn-outline-dark" href = "#">Log In</a>
            </p>
        </div>
    </section>

    <br>

    <!--Past Logs-->
    <section class = "container">
            <div class = "text-center">
                <div class = "text-center">
                    <p>
                        <h4>Past Logs<h4>
                    </p>
                </div>
            </div>
        </section>
</body>
</html>