<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Timer</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
</head>
<body>

    <!--Empty Section-->
      <section class = "jumbotron">
      </section>

      <!--Title-->
      <section>
            <div class = "text-center">
                <h2>x</h2>
            </div>
        </section>
        <br>

    <!--Navigation Buttons-->
    <section class = "container">
        <div class = "fixed-nav-bottom">
            <p class = "col-xs-12">
                <!--Back to enter log page-->
                <a href = "/enterlog">
                    <img 
                    src = "/images/left-arrow.svg"
                    alt = "left arrow"
                    height = "40px"
                    width = "40px">
                </a>
                <!--Go to magnifying glass page -->
                <a href = "/magnifyingglass">
                    <img 
                    src = "/images/right-arrow.svg"
                    alt = "right arrow"
                    height = "40px"
                    width = "40px">
                </a>
            </p>
        </div>
    </section>

    <!--Footer-->
    <nav class = "fixed-bottom">
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </nav>
</body>
</html>
