<!DOCTYPE html>
<html>
<head>
    <!--Title-->
    <title>Timer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/css/style.css">
    <script src="js/setTimer.js"></script>
</head>
<body>

  <!--Title-->
  <section class = "jumbotron">
    <div class = "text-center">
        <div><span id="time" style="font-size: 4rem;"></span></div>
        <div id="selectedTime"></div>
        <script>
            var thisTimer = sessionStorage.getItem("current");
            var thisTask = sessionStorage.getItem("currentTask");
            console.log("test: "+thisTimer+thisTask);
            document.getElementById("selectedTime").innerHTML = thisTask;
        </script>
    </div>
</section>

<br>

<section class = "container">
    <div class = "text-center">
        <p class = "col-xs-12">
            <!--Finish burn pop up -->
            <a class="btn btn-outline-dark" onclick="document.getElementById('id02').style.display='block'">End</a>
        </p>
    </div>
</section>

<!--Pop Up-->
<div id="id02" class="modal">
    <form class="modal-content animate">
        <div>
            <span onclick="document.getElementById('id02').style.display='none'" class="close">&times;</span>
            <h4>Burnt</h4>
        </div>

        </form>
    </div>

<!--Footer-->
<nav class = "navbar fixed-bottom">
    <div>
        <p><b>5/5</b></p>
    </div>
</nav>
</body>
</html>
