.jumbotron {
    background-color: white;
}

h1 {
    font-size: 100px;
}

.btn {
    font-size: 80px;
}

#question {
    border-radius: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#ball
{
	-webkit-transition: all;
	transition: all;
	position:absolute;
	width:400px;
	height:400px;
	border-radius: 50%;
	background: blue;
}